<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header-left {
            font-weight: bold;
        }
        .header-right {
            text-align: right;
            font-size: 16px;
            margin-bottom: 5px;
            width: 30%;
        }
        
        h2{
            margin-bottom: 0;
        }
        
        .job-title {
            font-weight: bold;
            margin-bottom: 0;
        }
        .job-description {
            margin-top: 15px;
            text-align: justify;
        }
        .job-function {
            margin-top: 5px;
            margin-left: 20px;
        }
        .personal-description {
            margin-top: 1px;
        }


        #skills-container {
            display: flex;
            justify-content: center;
            align-items: center;

        }
        #skills-container div {
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <div class="header-left">
           <h2> Alejandro Dinamarca </h2>
            <div class="personal-description"> Software Engineer with 9 years of experience, specializing in SRE/DevOps and Cloud Architecture</div>
        </div>
       
        <div class="header-right">
            <div class="fa fa-envelope"> {{ site.personal.email }}</div><br />
            <div class="fa fa-phone"> {{ site.personal.phone }}</div><br />
            <div class="fa fa-github"> {{ site.personal.github }}</div>
        </div>
    </header>
    <section>   
        <h2>Interests</h2>
        <hr>
        <div class="job-description">Cloud Computing - Software development - Architecture - Devops - Open Source</div>
    </section>
    <section>
        <h2>Skills</h2>
        <hr>
        <div>
            <div id="skills-container">
                <div>
                
                    <ul >
                        <li>Java - Python</li>
                        <li>Spring</li>
                        <li>Fastapi - django</li>
                    </ul>
                </div>
                <div>
                  
                    <ul >
                        <li>Google Cloud</li>
                        <li>Docker - Kubernetes</li>
                        <li>Jenkins - CICD</li>
                        
                    </ul>
                </div>
                <div>
            
                    <ul >
                        <li>Terraform</li>
                        <li>Linux - bash scripting</li>
                        <li>Mysql - Postresql</li>
                    </ul>
            </div>

        </div>
    </section>

 <!-- Work Experience -->
    <section>
        <h2>Work Experience</h2>
        <hr>
        <div>
            <div class="job-title">Latam Airlines - Lead Architect</div>
            <div>January 2021 - Present</div>
            <div class="job-description"> Lead Enterprise architecture team in charge of different functions including, development practices, 
                                          technology roadmap, architecture guidelines cross the different business units. </div>
            <ul class="job-function">
                <li> Lead 4 Architect and 2 Development Team, focusing on the modernization of legacy platforms and mantain 5 cross platform applications.    </li>
                <li> Co-work with specialist teams to design cross company solutions.</li>
                <li> Lead of Technology Roadmap and landscape.</li>
                <li> Lead Opensource License Team.</li>

            </ul>
        </div>
        <div>
            <div class="job-title">Latam Airlines - Product Owner Architecture Team</div>
            <div>2020 - 2021</div>
            <div class="job-description">Product Owner of Architect department in charge to promote development and architecture practices to cross company developers teams. </div>
            <ul class="job-function">
                <li>Design and implement development templates to development teams.</li>
                <li>Investigate new technologies.</li>
                <li>Lead 3 developers.</li>
                <li>Promote best practices for Spring Cloud, Angular, GCP, Kubernetes and mobile.</li>
                <li>Identify Developers and promote community of practices.</li>
                <li>Design and implement CICD strategy</li>
            </ul>
        </div>


        <p style="page-break-after: always"></p>


        <div>
            <div class="job-title">Latam Airlines - Cloud Engineer</div>
            <div>2018 - 2020</div>
            <div class="job-description">Cloud Engineer in charge to help the business projects to design and implement correctly the Google Cloud Platform infrastructure components and Support the project team during the live cycle to resolve technical questions and issues.</div>
            <ul class="job-function">
                <li>Technical Lead at right sizing infrastructure process.</li>
                <li>Championed the adoption of devops culture implementing CICD practices</li>
                <li>Estimate the dimension of the infrastructure workload.</li>
                <li>Design solution and Cloud Infrastructure.</li>
                <li>Support developer teams to understand the Application and infrastructure Pipeline. </li>
                <li>Support project teams to resolve issues and technical questions.</li>
                <li>propose robust infrastructure solution to improve system resilence.</li>
                <li>Develop Python Apps with django framework.</li>
            </ul>
        </div>


        <div>
            <div class="job-title">Banco BCI - Cloud Engineer</div>
            <div>2017 - 2018</div>
            <div class="job-description">Cloud engineer in charge of the administration of the cloud environments, productives and non-productives of the bank under technologies like Kubernetes, Dockers, Linux with the cloud provider Bluemix, bringing continuity of the services.</div>
            <ul class="job-function">
                <li>Admin and manage cloud infrastructure.</li>
                <li>Analise incident on kubernetes and bluemix platform.</li>
                <li>Migration of the legacy Sybase systems. </li>
                <li>Propose and apply improvement on the cloud environments.</li>
                <li>Apply Agile methodologies to help the business requirements.</li>
                <li>Promote the knowledge management process.</li>
            </ul>
        </div>

        <div>
            <div class="job-title">LATAM AIRLINES - SYSTEM ENGINEER</div>
            <div>2014 - 2017</div>
            <div class="job-description">Technical Lead engineer in charge of the administration of the operational critical system of the company,  developing experiences on monitoring tools like Nagios, Centreo, Introscope and Dynatrace, performing analysis of performance on servers and applications, proactively identifying performance issues and incidentes. </div>
            <ul class="job-function">
                <li>Create postmortems incident reports.</li>
                <li>Maintain operational continuity of the application and services.</li>
                <li>Ensure the process of continuous improvement of services.</li>
                <li>Perform the technical administration of the application and services.</li>
                <li>Manage the proper delivery of  contracted service to third parties.</li> 
                <li>Propose plans for improve the performance of system.</li>
                <li>Analyse system failures for its improvement.</li>
                <li>Performance analysis of JAVA application.</li>
                <li>Implementation of the Knowledge management process.</li>
                <li>Develop tools for monitoring and analysis of the system.</li>
                <li>Manage the quality and integrity of SLA registry based on ITIL.</li>
            </ul>
        </div>

        <p style="page-break-after: always"></p>

        <div>
            <div class="job-title">LATAM AIRLINES - SOFTWARE DEVELOPER</div>
            <div>2013</div>
            <div class="job-description">Support multi-core project migrating Oracle form to the corporative standar using Java under the architecture JEE, applying the framework Spring and using JPA (Hibernate)
            </div>
            <ul class="job-function">
                <li>Develop Java application.</li>
                <li>Identify application issues and perform the improvement.</li>
                <li>Development application under Weblogic application Server.</li>
                <li>Document the product developed and perform the delivery to the production team.</li>
                
            </ul>
        </div>

    </section>

    <!-- Education -->
    <section>
        <h2>Education</h2>
        <hr>
        <div>
            <div class="job-title">PONTIFICIA UNIVERSIDAD CATÓLICA DE CHILE</div>
            <div>Programa Postítulo Gestión en Tecnologías de Información INGES.</div>
        </div>
        <div>
            <div class="job-title">INSTITUTO PROFESIONAL DUOC UC            </div>
            <div>Ingeniero en Informática </div>
        </div>
    </section>
</body>
</html>
